::-webkit-scrollbar{
    display: none;
}

.avt{
    background-color:  #2F959B;
}
.nav{
    background-color: #2F959B;
    padding-top: 0.7%;
    height: 4.5rem;
    
}
.avt:hover{
    cursor: pointer;
}
.end{
    padding-right: 0.5rem;
}

